<%- include("header") -%>

    <body>
        <section>
            <h1>Total Cases in India </h1>

            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h3>Confirmed</h3>
                    </div>
                    <div class="col-3">
                        <h3>Active</h3>
                    </div>
                    <div class="col-3">
                        <h3>Deceased</h3>
                    </div>
                    <div class="col-3">
                        <h3>Recovered</h3>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <p>
                            <%= Confirmed %>
                        </p>
                    </div>
                    <div class="col-3">
                        <p>
                            <%= Active %>
                        </p>
                    </div>
                    <div class="col-3">
                        <p>
                            <%= Deceased %>
                        </p>
                    </div>
                    <div class="col-3">
                        <p>
                            <%= Recovered %>
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <h2>State Wise</h2>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h3>Confirmed</h3>
                    </div>
                    <div class="col-3">
                        <h3>Active</h3>
                    </div>
                    <div class="col-3">
                        <h3>Deceased</h3>
                    </div>
                    <div class="col-3">
                        <h3>Recovered</h3>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h3>Confirmed</h3>
                    </div>
                    <div class="col-3">
                        <h3>Active</h3>
                    </div>
                    <div class="col-3">
                        <h3>Deceased</h3>
                    </div>
                    <div class="col-3">
                        <h3>Recovered</h3>
                    </div>
                </div>

            </div>



        </section>


    </body>





    <%- include("footer") -%>